body{
    background-color:rgb(65, 55, 55);
}
.container{
    display: flex;
    margin-top: 8px;
    margin-bottom: 15px;
}
.container a{
    font-size: 25px;
    color:rgb(216, 222, 227);
}
.cafe_7{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: -7px;
}
.about{
    color: bisque;
    margin-right: 55%;
    height: 300px;
    width: 400px;
}
.ab{
    text-decoration: none;
    font-size: 25px;
    justify-content: space-evenly;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 1px;
    color: azure;
}
.display{
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    padding: 35px;
}
marquee{
    font-size: 70px;
    background-color:rgb(156, 121, 121);
    color: lemonchiffon;
}
.cafe_3{
    display: flex;
    justify-content: space-evenly;
    margin-left: 30px;
}
.cafe_4 a{
    display:flex;
    font-size: 20px;
    flex-direction: column; 
    color:azure;
}
.cafe_6{
    width: 800px;
        justify-content: space-evenly;
        height: 300px;  
}
.pretag{
    margin-left: -4%;
    font-family: 'Times New Roman', Times, serif;
    color: blanchedalmond;
    font-size: 20px;
}
.pretag2{

    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
.div1{
    background-color: rgb(39, 13, 13);
}
.div2{
    background-color: black;
    color:gainsboro;
    
}
.div3{
    margin-right: 1%;
    height:50px;
}
.container1 {
        display: grid;
        align-items: center; 
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 9px;
        margin-left: 5%;
       }    
.img {
         max-width: 300px;
         max-height:300px;
       } 
.text {
      color: bisque;
         font-size: 20px;
       }